.app {
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  font-size: 2em;
  overflow-y: scroll;
  height: 400px;
}

.answer {
  margin-left: 1em;
  font-size: 0.7em;
}

.question {
  margin-bottom: 1em;
}